

/* h1 tag styling */

/* h1{
    color: green;
} */

/* #el_el{
    
}

.


Class name 
Id name */


p{
    color: rgb(79, 8, 57);
}

div{
    background-color: bisque;
}

section{
    background-color: rgb(1, 1, 54);
    /* border: 10px solid green; */
}
/* section:p{ */
   #p2{
    color: #fff;
   }